body {
  background: url("../assets/img/contact.jpg") no-repeat right;
  background-size: 100vw;
  overflow: hidden;
}

textarea {
  resize: vertical;
  min-height: 6rem;
  max-height: 12vw;
}

select {
  width: max-content !important;
  font-size: 0.95vw;
}

.heading {
  margin-bottom: 1.5vw;

  h2 {
    font-size: 2vw;
    font-weight: 700;
    margin: 0.25vw 0;
  }
}

.form {
  background-color: white;
  display: block;
  box-shadow: 0 0.15vw 1.25vw #222;
  width: max-content;
  height: 100vh;
  padding: 4vw 10vw;
  z-index: 2;

  button {
    float: right;
    margin: 0.35vw 0;
    padding: 0.5vw 1.75vw;
    font-size: 1vw;
  }

  .reset {
    padding: 0.25vw;
    margin: 0.7vw 1.5vw;
    background-color: transparent;
    border: none;
  }
}

.user-input {
  padding: 0.25vw;
  width: max-content;
}

.t-input {
  width: 25vw;
  border-radius: 0.25vw;
  border: 0.1vw solid #ccc;
  padding: 0.5vw 0.35vw;
  margin: 0.35vw 0;
  background-color: transparent;
}

::placeholder {
  font-size: 0.9vw;
}
