/* Reset defaults */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Inter", "Segoe UI", sans-serif;
  font-size: 1.1vw;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 7rem;
  background-color: #fff;
  border-bottom: 1px solid rgba(155, 155, 155, 0.8);
  box-shadow: 1px 0 12px #888;
  position: sticky;
  top: 0;
  z-index: 10;

  .branding {
    font: 900 2.3vw "Montserrat Alternates", sans-serif;
    width: max-content;

    a {
      color: #222;
      cursor: pointer;

      sup {
        font-size: 1rem;
      }
    }
  }

  .menu {
    margin-top: 0.2rem;
    display: inherit;

    ul {
      display: inherit;
      list-style-type: none;
      margin-right: 1vw;

      li {
        padding: 0.5rem;
        margin: 0 0.3rem;
      }

      a {
        color: #111111;
        position: relative;
        display: block;

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      } /* a */
    } /* ul */

    .nav-button {
      padding: 0.25vw 1.15vw;
      margin: 0;
    }
  } /* .menu */
} /* .nav */

/* Reusable Underline Hover Effect */
.underline {
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 100%;
    left: 0;
    background: #222;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: right;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.primary {
  color: white;
  background-color: #bd8550;
  padding: 0.7vw 1.75vw;
  border: 0.25vw solid transparent;
  border-radius: 2vw;
  box-sizing: border-box;
  position: relative;
  transition: background-color 0.13s ease-in-out;

  &:hover,
  &:active {
    box-shadow: 0 0 0 0.15vw inset;
    transition: box-shadow 0.15s ease-in-out;
  }
}

.secondary {
  margin: 0.75rem 1.25rem;
  padding: 0.25rem;
  border-radius: 2vw;
  position: relative;
}

.copyright {
  font-weight: 600;
  font-size: 0.9vw;
  color: #aaa;
  margin-top: 9rem;
}

.copyright-footer {
  margin-top: 3vw;
  padding: 1vw 0;
  text-align: center;
  background-color: rgba(235, 235, 235, 0.5);
}
