body {
  overflow: hidden;
}

.landing {
  background: url("../assets/img/landing.png") no-repeat right;
  background-size: 70vw 100vh;
  height: 100vh;

  .front-matter {
    background: transparent;
    width: max-content;
    padding: 20vh 8vw 0 8vw;

    h2 {
      color: #bd8550;
      font: 900 4vw "Inter", sans-serif;
      letter-spacing: 0.2pt;
      margin: 2.35rem 0;
      text-shadow: 0 0 2px #888;
    }

    span {
      color: #222;
    }
  }
}
