img {
  border-radius: 5%;
  box-shadow: 0 0 8px #999;
}

hr {
  width: 95%;
  margin: 1vw auto;
}

.section-heading {
  text-align: center;
  padding: 1vw 0;
}

/* Featured Section */
.featured {
  padding: 6vw 10vw;
}

.product {
  display: flex;
  width: max-content;
  align-items: center;
  font-family: "Inter", sans-serif;

  img {
    width: 25vw;
    margin-right: 2vw;
  }
}

.product-info {
  display: block;

  .highlight {
    color: #bd8550;
    font-size: 1.4vw;
    text-shadow: 0 0 0.25vw #dca16a;
  }

  .product-title {
    font-size: 2.5vw;
    font-weight: 700;
    padding: 0.5vw 0;
  }

  .product-desc {
    display: block;
    font-size: 1.2vw;
    width: 40vw;
    line-height: 1.4;
    margin-bottom: 2.5vw;
  }

  .product-link {
    margin: 1.5vw 0;
    padding: 0.55vw 1vw;
  }

  span {
    display: inline;
  }
}

/* Catalog / All Products */

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: max-content;
  padding: 0 5vw;
  margin: 0 auto;

  .item {
    width: max-content;
    padding: 2.5vw;
    text-align: center;
    border-radius: 0.5vw;

    .item-img {
      width: 15vw;
      margin: 0.75vw;
    }

    h3 {
      font-weight: 600;
      color: #444;
    }
  }
}
