.reserve {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1vw 6vw;
}

form {
  display: block;
  width: max-content;
  box-shadow: none;
  height: max-content;
  padding: 4vw;
  z-index: 2;

  span {
    font-size: 0.92vw;
    font-weight: 900;
    color: #bd8550;
    width: max-content;
    padding: 0.24vw 0;
  }

  .radio-group {
    padding: 0.6vw 0.4vw;

    * {
      cursor: pointer;
    }

    label {
      margin-right: 1vw;
    }
  }

  .input-inline {
    display: inline-block;

    input {
      width: max-content;
    }
  }
}

.receipt {
  margin: 2vw;
  height: max-content;
  padding: 2vw;
  box-shadow: 0 0 0.5vw #999;
  border-radius: 1vw;

  p {
    margin: 0.28vw 0;
  }

  #date {
    float: right;
    text-align: right;
  }

  table {
    text-align: center;
    height: max-content;
    margin: 1vw auto 5vw auto;
    width: 100%;

    th {
      padding: 0.82vw;
    }

    input {
      text-align: center;
      width: 2.2vw;
      padding: 0.2vw;
      margin: 0 auto;
    }
  }

  .receipt-header {
    text-align: center;
    margin-bottom: 1.8vw;
  }

  #barcode {
    float: left;

    &:empty {
      display: none;
    }
  }

  .receipt-footer {
    text-align: right;
  }
}

#note {
  text-align: left;
  float: left;
  display: none;
  margin-top: 2rem;
  width: 100%;

  hr {
    background-color: #999;
    margin-bottom: 1rem;
  }
}

/* Media Queries */
@media print {
  body * {
    visibility: hidden;
  }
  #printarea,
  #printarea * {
    visibility: visible;
  }
  #printarea {
    font-size: 1.2rem;
    position: absolute;
    width: 46%;
    left: 0;
    top: 0;

    #note {
      display: block;
    }

    input {
      border: none;
      width: 4vw;
    }

    input[type="number"].qty::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .subheading {
      font-size: 1rem;
    }
  }
}
